
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img src="images/8.jpg" alt=""  height="300" width="350">
            <img src="images/Adukkala.jpg" alt=""  height="300" width="350">
        </div>
       <div class="col-md-7  col-md-offset-1">
            <h2 class="color">Welcomes to Fresh Juice Center</h2>
            <h3 class="color">An extra ordinary Tradition</h3>
            <p>At the Fresh Juice Centre the philosophy is simple: <span style="color:#c52720">treat guests like family,</span> serve great food, and always exceed expectations when The commitment to quality, satisfaction and hospitality was shared with every customer who came to the establishment and today what began as humble juice centre to weary pilgrims has transformed itself to a <span style="color:#c52720">food-lover's paradise</span> in Mumbai.</p>
            <h3 class="color">Culinary Landmark</h3 </h3>
            <p>The Fresh Juice Centre has become an icon in the city's gastronomic scene in both space and time. Located in the pune it is easily accessible, providing a beautiful view of the city-skyline while enjoying the Fresh Juice. It is a place to not only enjoy an excellent meal but also catch up with old friends, meet new ones, close business deals, and celebrate family milestones. With its exceptional menu, distinguished quality, and upbeat service, </p>
            <h3 class="color">For every palate</h3>
            <p>Keeping with its name, the Fresh Juice &all types of cold drink  Centre has been producing some of the  fresh juices and creams in the city. From osome flavours  it has perfected the art of making lip-smacking drinks. Besides it also serves delicious food, catering to every taste bud. The establishment has pioneered in creating a number of fusion dishes both original and innovative, leaving no culinary preference untouched. </p>
            <h3 class="color">Responsibility, the cornerstone of hospitality</h3>
            <p>Giving back to society is a big part of the Fresh Juice Centre's philosophy. Though in his ripe old age, <span style="color:sky">
        </div>
    </div>
</div>  