<div class="col-md-12">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in cartItems track by $index">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{product.name}}</h4>
							<p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
						</div>
					</div>
				</td>
				<td data-th="Price">{{product.price|currency}}</td>
				<td data-th="Quantity">
					<input type="number" class="form-control text-center" ng-model="product.quantity" positive-number>
				</td>
				<td data-th="Subtotal" class="text-center">{{ calculate(product.price,product.quantity)|currency}}</td>
				<td class="actions" data-th="">
					<button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
					<button class="btn btn-danger btn-sm" ng-click="removeFromCart($index)"><i class="glyphicon glyphicon-trash"></i></button>
				</td>
			</tr>
		</tbody>
		<tfoot>
		<tr class="visible-xs">
			<td class="text-center"><strong>Total 1.99</strong></td>
		</tr>
		<tr>
			<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
			<td colspan="2" class="hidden-xs"></td>
			<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
			<td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
		</tr>
		</tfoot>
	</table>
</div>