<div class="row">
    <div class="col-md-2 ">
        <div class="form-group">
            <lable class="control-label"><h4>Search</h4></lable> 
            <input type="text" class="form-control input-lg" ng-model="test" placeholder="Search by name">
        </div>
        <div ng-show="$root.currentUser.name == 'admin'">
            <a href="#/addjuice"><button class="btn btn-primary">Add Product</button></a> 
        </div>

    </div>
    {{itemPerPageChange}}
    {{pages}}
    <select ng-model="itemPerPage" ng-change="itemPerPageChange()">
        <option ng-selected="true" value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
    <div class="col-md-8"   >
        <ul class="list-group" ng-repeat="j in juices|filter:{name:test}|limitTo:itemPerPage:offset">
            <li class="list-group-item ">Juice Id: {{j.id}}</li>
            <li class="list-group-item ">Juice Type: {{j.type}}</li>
            <li class="list-group-item ">Juice Name: {{j.name}}</li>
            <li class="list-group-item ">Juice Content:  Milk:{{j.content.milk}}, Sugar:{{j.content.sugar}}, Apple:{{j.content.apple}}</li>
            <li class="list-group-item ">Juice Price : {{j.price}}</li>
            <li class="list-group-item ">
                <p class="button">
                    <a href="#/juicedetails/{{j.id}}">  <button type="button"  class="btn btn-primary btn-xs">Details</button></a>
                    <button type="button" class="btn btn-info btn-xs">Order</button>
                    <button type="button" class="btn btn-success btn-xs">Payment</button>
                </p>
            </li>
        </ul>
        <div>
            <a class="btn" ng-class="{'btn-success':currentPage-1== $index,'btn-info':$index==0}" ng-click="changePage($index+1)" ng-repeat="button in buttonlist track by $index">{{$index+1}}</a>
        </div>
    </div>
</div>
